
#Menu
{
    padding:0;
    margin:0;
    list-style-type:none;
    font-size:17px;
    color:#717171;
    width:100%;
}

#Menu li
{
    border-bottom: solid #eeeeee;
    padding:7px 10px 7px 10px;
}

#Menu li:hover
{
    background-color:#EF9A9A;
}
#Menu li:hover a
{
    color:White;
}


#Menu a:link
{
    color:#717171;
    text-decoration:none;
}

#Menu a:hover
{
    color:White;
}